.App {
  text-align: center;
  width: 90%;
  margin:0 auto; 

}

.container {
  margin:0 auto; 
}

.div-search {
  margin:0 auto; 
  width: 1000px;
  align-items: normal;
  justify-content: baseline;
}
.div-result {
  margin:0 auto; 
  width: 1000px;
  align-items: normal;
  justify-content: baseline;
}